<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Norms</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.number %></td>
        <td><%= part.name %></td>
        <td><%= part.norms %></td>
        <td><%= part.item.try(:name) %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= will_paginate @articles %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path %>
