<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @part.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Norms:</strong>
  <%= @part.norms %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
