<%= form_for(division) do |f| %>
  <% if division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(division.errors.count, "error") %> prohibited this division from being saved:</h2>

      <ul>
      <% division.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :employe %>
  <%= f.collection_select(:employe_id, Employe.all, :id, :name, include_blank: true) %>
  </div>

  <div class="field">
  <%= f.label :department %>
  <%= f.collection_select(:department_id, Department.all, :id, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= division do |builder| %>
  <%= render 'order_divisions', f: builder, locals: {a: a} %>
  <% end %>
  <%= link_to_add_divisions "Add Division Item", f, :divisions %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
