<%= form_for(@division) do |f| %>
  <% if division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(division.errors.count, "error") %> prohibited this division from being saved:</h2>

      <ul>
      <% division.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row">
  <div class="col-md-2"><%= f.label :department %></div>
  <div class="col-md-2"><%= f.collection_select(:department_id, Department.all, :id, :name, include_blank: true) %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><%= f.label :name, "Division Name" %></div>
    <div class="col-md-2"><%= f.text_field :name %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><%= f.label :name, "Employee Name" %></div>
    <div class="col-md-2"><%= f.collection_select(:employee_id, Employee.all, :id, :name, include_blank: true) %></div>
  </div>
  <br><br>
  <%= f.fields_for :areas do |builder| %>
    <%= render 'area_fields', f: builder, locals: {division: division} %>
  <% end %>
  <br>
  <%= link_to_add_areas "Add Area", f, :areas %>

  <div class="actions">
    <div class="col-md-1"><%= f.submit %></div>
  </div>
  <br><br>
<% end %>
