<p id="notice"><%= notice %></p>

<h1>Divisions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Department</th>
      <th>Division Name</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @divisions.each do |division| %>
      <tr>
        <td><%= division.department.try(:name) %></td>
        <td><%= division.name %></td>
        <td><%= division.employee.try(:name) %></td>
        <td><%= link_to 'Show', division %></td>
        <td><%= link_to 'Edit', edit_division_path(division) %></td>
        <td><%= link_to 'Destroy', division, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= will_paginate @articles %>
  </tbody>
</table>

<br>

<%= link_to 'New Division', new_division_path %>
