<%= form_for(@department) do |f| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee %>
    <%= f.collection_select(:employee_id, Employee.all, :id, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :divisions do |builder| %>
    <%= render 'division_fields', f: builder, locals: {department: department} %>
  <% end %>
  <%= link_to_add_divisions "Add Area", f, :divisions %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
