<%= form_for(pic) do |f| %>
  <% if pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area %>
    <%= f.collection_select(:area_id, Area.all, :id, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :part %>
    <%= f.collection_select(:part_id, Part.all, :id, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :wh %>
    <%= f.text_field :wh %>
  </div>

  <div class="field">
    <%= f.label :qty %>
    <%= f.text_field :qty %>
  </div>

  <div class="field">
    <%= f.label :pic_date %><br>
    <%= f.text_field :pic_date,:id => "dp" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
$( "#dp" ).datepicker({
  dateFormat: 'dd-mm-yy',
  inline: true
});
</script>
