<%= form_for(pic) do |f| %>
  <% if pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-1"><%= f.label :area %></div>
    <div class="col-md-1"><%= f.collection_select(:area_id, Area.all, :id, :name, include_blank: true) %></div>
  </div>

  <div class="row">
    <div class="col-md-1"><%= f.label :part %></div>
    <div class="col-md-1"><%= f.collection_select(:part_id, Part.all, :id, :name, include_blank: true) %></div>
  </div>

  <div class="row">
    <div class="col-md-1"><%= f.label :wh %></div>
    <div class="col-md-1"><%= f.text_field :wh %></div>
  </div>

  <div class="row">
    <div class="col-md-1"><%= f.label :qty %></div>
    <div class="col-md-1"><%= f.text_field :qty %></div>
  </div>

  <div class="row">
    <div class="col-md-1"><%= f.label :pic_date %><br></div>
    <div class="col-md-1"><%= f.text_field :pic_date,:id => "dp" %></div>
<br><br><br>
  <div class="actions">
    <div class="col-md-1"><%= f.submit %></div>
  </div>
<% end %>
<script type="text/javascript">
$( "#dp" ).datepicker({
  dateFormat: 'dd-mm-yy',
  inline: true
});
</script>
