<%= nested_form_for(@area, url: bulk_insert_area_pics_path, method: :POST) do |f| %>
  <div class="row">
    <div class="col-md-3">
      Area : <%= f.text_field :name, disabled: true %>
    </div>
  </div>
  <br>
  <% @area.pics.each do |pic| %>
    <% if pic.new_record? %>
        <%= f.fields_for :pics, pic do |pic_form_fields| %>
            <%= pic_form_fields.text_field :pic_date, :class => "dp" %>
            <%= pic_form_fields.text_field :wh, :class => "wh" %>
            <%= pic_form_fields.text_field :qty %>
            <%= pic_form_fields.collection_select(:part_id, Part.all, :id, :number, include_blank: true, :class => "select-beast")  %>
            <%= pic_form_fields.link_to_remove "Remove" %>
        <% end %>
    <% end %>
  <% end %>
  <%= f.link_to_add "Add", :pics %>
  <%= f.submit 'SAVE' %>
<% end %>
