<nav class="navbar navbar-default">
  <% if current_user %>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <li class="navbar-brand"><%= link_to 'Brand', root_path %></li>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Employe', employees_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productivity <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><%= link_to 'Department', departments_path %></li>
            <li><%= link_to 'Division', divisions_path %></li>
            <li><%= link_to 'Area', areas_path %></li>
            <li><%= link_to 'Item', items_path %></li>
            <li><%= link_to 'Part', parts_path %></li>
            <li><%= link_to 'PIC', pics_path %></li>
            <li><%= link_to "Report Person",report_person_path %></li>
            <li><%= link_to "Report People",report_people_path %></li>

          </ul>
        </li>
        <li><%= link_to 'user', users_path %></li>
        <li><a href="/users/sign_out" data-method="delete">Exit</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <% else %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Selamat Datang Guest <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/users/sign_in">Log In</a></li>
        <li><a href="/users/sign_up">Sign Out</a></li>
      </ul>
    </li>
  <% end %>
</nav>
