<%= form_for(terminal4out) do |f| %>
  <% if terminal4out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terminal4out.errors.count, "error") %> prohibited this terminal4out from being saved:</h2>

      <ul>
      <% terminal4out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fix %>
    <%= f.number_field :fix %>
  </div>

  <div class="field">
    <%= f.label :terminal_fourth_id %>
    <%= f.number_field :terminal_fourth_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
