<p id="notice"><%= notice %></p>

<h1>Terminal4outs</h1>

<table>
  <thead>
    <tr>
      <th>Fix</th>
      <th>Terminal fourth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terminal4outs.each do |terminal4out| %>
      <tr>
        <td><%= terminal4out.fix %></td>
        <td><%= terminal4out.terminal_fourth_id %></td>
        <td><%= link_to 'Show', terminal4out %></td>
        <td><%= link_to 'Edit', edit_terminal4out_path(terminal4out) %></td>
        <td><%= link_to 'Destroy', terminal4out, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terminal4out', new_terminal4out_path %>
