<p id="notice"><%= notice %></p>

<p>
  <strong>Fix:</strong>
  <%= @terminal4out.fix %>
</p>

<p>
  <strong>Terminal fourth:</strong>
  <%= @terminal4out.terminal_fourth_id %>
</p>

<%= link_to 'Edit', edit_terminal4out_path(@terminal4out) %> |
<%= link_to 'Back', terminal4outs_path %>
