<p id="notice"><%= notice %></p>

<h1>Areas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Area</th>
      <th>Division</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.employee.try(:name) %>
        <td><%= area.name %></td>
        <td><%= area.division.try(:name) %>
        <!-- <td><%#= link_to 'Show', area %></td>
        <td><%#= link_to 'Edit', edit_area_path(area) %></td> -->
        <td><%= link_to 'Insert', bulk_new_area_pics_path(area) %></td>
        <!-- <td><%#= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
    <%= will_paginate @areas %>
  </tbody>
</table>

<br>

<%#= link_to 'New Area', new_area_path %>
