<p id="notice"><%= notice %></p>

<p>
  <strong>Division:</strong>
  <%= @area.division.try(:name) %>
</p>

<p>
  <strong>Employe:</strong>
  <%= @area.employe.try(:name) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
