<%= form_for(po_item) do |f| %>
  <% if po_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(po_item.errors.count, "error") %> prohibited this po_item from being saved:</h2>

      <ul>
      <% po_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qty %>
    <%= f.number_field :qty %>
  </div>

  <div class="field">
    <%= f.label :po_inspect %>
    <%= f.date_select :po_inspect %>
  </div>

  <div class="field">
    <%= f.label :po_stuffing %>
    <%= f.date_select :po_stuffing %>
  </div>

  <div class="field">
    <%= f.label :po_id %>
    <%= f.number_field :po_id %>
  </div>

  <div class="field">
    <%= f.label :item_id %>
    <%= f.number_field :item_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
