<p id="notice"><%= notice %></p>

<h1 align="center"><b>ITEM FINISH</b></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Kode Po</th>
      <th>Kode Item</th>
      <th>Po inspect</th>
      <th>Po stuffing</th>
      <th>Qty</th>
      <th>Action</th>
    </tr>
  </thead>


  <tbody>
    <% @po_items.each do |po_item| %>
      <tr>
        <!-- <td><%#= po_item.id %></td> -->
        <td><%= po_item.po.number %></td>
        <td><%= po_item.item.name %></td>
        <td><%= po_item.po_inspect %></td>
        <td><%= po_item.po_stuffing %></td>
        <td><%= po_item.qty %></td>
        <!-- <td><%#= link_to 'Show', po_item %></td>
        <td><%#= link_to 'Edit', edit_po_item_path(po_item) %></td> -->
        <td><%= link_to 'Delete', po_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Po Item', new_po_item_path %>
