<p id="notice"><%= notice %></p>

<p>
  <strong>Qty:</strong>
  <%= @terminal4update.qty %>
</p>

<p>
  <strong>Terminal fourth:</strong>
  <%= @terminal4update.terminal_fourth_id %>
</p>

<%= link_to 'Edit', edit_terminal4update_path(@terminal4update) %> |
<%= link_to 'Back', terminal4updates_path %>
