<%= nested_form_for(@buyer, url: bulk_insert_buyer_terminal_fourths_path, method: :POST) do |f| %>
  <div class="row">
    <div class="col-md-3">
      Buyer : <%= f.text_field :name, disabled: true %>
    </div>
  </div>
  <br>
  <% @buyer.terminal_fourths.each do |terminal_fourth| %>
    <% if terminal_fourth.new_record? %>
        <%= f.fields_for :terminal_fourths, terminal_fourth do |terminal_fourth_form_fields| %>
            <%= terminal_fourth_form_fields.text_field :po, placeholder: "PO", :class => "po" %>
            <%= terminal_fourth_form_fields.collection_select :item_id, Item.all, :id, :name, { include_blank: true }, { :class => "ComboPart" } %>
            <%= terminal_fourth_form_fields.text_field :qty, placeholder: "QTY" %>
            <%= terminal_fourth_form_fields.text_field :terminal_inspect,placeholder: "INSPECT", :class => "dp" %>
            <%= terminal_fourth_form_fields.text_field :terminal_stuffing,placeholder: "STUFFING", :class => "dp" %>
            <%= terminal_fourth_form_fields.link_to_remove "DESTROY", :id => "open-contacts-dialog-btn", :class => "btn btn-danger btn-sm", :method => :get %>
        <% end %>
    <% end %>
  <% end %>
  <div class="btn-group" role="group">
    <%= f.link_to_add "ADD", :terminal_fourths, :id => "open-contacts-dialog-btn", :class => "btn btn-primary btn-lg", :method => :get %>
    <%= f.submit 'SAVE', :id => "open-contacts-dialog-btn", :class => "btn btn-success btn-lg", :method => :get %>
  </div>

<% end %>
