<p id="notice"><%= notice %></p>

<p>
  <strong>Po:</strong>
  <%= @terminal_fourth.po %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @terminal_fourth.qty %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @terminal_fourth.finish %>
</p>

<p>
  <strong>Terminal inspect:</strong>
  <%= @terminal_fourth.terminal_inspect %>
</p>

<p>
  <strong>Terminal stuffing:</strong>
  <%= @terminal_fourth.terminal_stuffing %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @terminal_fourth.buyer_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @terminal_fourth.item_name %>
</p>

<%= link_to 'Edit', edit_terminal_fourth_path(@terminal_fourth) %> |
<%= link_to 'Back', terminal_fourths_path %>
