<!DOCTYPE html>
<html>
<head>
<title>Contoh Penggunaan Atribut Colspan dan Rowspan Tag Tabel</title>
<link href="stylesheets/jquery-ui.css.erb" rel="stylesheet" type="text/css">
</head>
<body>
<h3><center><b>LAPORAN PRODUKTIVITAS PRODUKSI PERSON </b></center></h3>
<center>

  <%= @pics.count %>
  <table width="600px">
    <tr><left>
      <%= form_tag('/report_person', method: :get) do %>
      <%= text_field_tag 'start'%>
      <%= text_field_tag 'end'%>
      <%= submit_tag 'Show' %>
      <% end %>
      <!-- <input id="dp" type="text" size="15" />
      <input id="dp2" type="text" size="15" /> -->
    </center>
  </left>
    </tr>
    <tr>
      <td>Periode :</td>
      <td>Karu :</td>
      <td>Area :</td>
    </tr>
    <tr>
      <td>EH :</td>
      <td>WH : <%#= @pics.sum(:wh) %></td>
    </tr>
</table>
<br>
<p>Show With Range Date
<center><table border="1"  width="600px">
    <tr><b>
        <td  width="80px"><b><center>Part No.</center></td>
        <td width="200px"><center><b>Part Name</td>
        <td><b><center>Qty</td>
        <td><b><center>Norms (HPU)</td>
        <td><b><center>Earned Hour</td>
    </b></tr>
    <tr>
      <tbody>

      <% @pics.each do |pic| %>
        <tr>
          <td><%= pic.part.number %></td>
          <td><%= pic.part.name %></td>
          <td><%= pic.qty %></td>
          <td><%= pic.part.norms %></td>
          <td><%= pic.qty  + pic.wh %></td>
        </tr>
      <% end %>
      </tbody>
    </tr>

</table>
<br>

<p>Show With Rekap But Without Range Date
<center><table border="1"  width="600px">
    <tr><b>
        <td  width="80px"><b><center>Part No.</center></td>
        <td width="200px"><center><b>Part Name</td>
        <td><b><center>Qty</td>
        <td><b><center>Norms (HPU)</td>
        <td><b><center>Earned Hour</td>
    </b></tr>
    <tr>
      <tbody>
        <% @parts.each do |part| %>
          <tr>
            <td><%= part.number %></td>
            <td><%= part.name %></td>
            <td>
              <%= part.pics.sum(:qty)%>
            </td>
            <td>
              <%= part.pics.count.to_f * part.norms %>
            </td>
            <td><%= (part.pics.sum(:qty)) * (part.pics.count.to_f * part.norms)%></td>
            <td><%#= part.pic.qty  + part.pic.wh %></td>
          </tr>

        <% end %>
      </tbody>
    </tr>

</table>

<%#@pics.each do |pic| %>
 <tr>
   <td><%#= pic.part%></td>


 </tr>
<%# end %>
<br>
<p>Tabel 3
<center><table border="1"  width="600px">
    <tr><b>
        <td  width="80px"><b><center>Part No.</center></td>
        <td width="200px"><center><b>Part Name</td>
        <td><b><center>Qty</td>
        <td><b><center>Norms (HPU)</td>
        <td><b><center>Earned Hour</td>
    </b></tr>
    <tr>
      <tbody>
        <% @pics.each do |pic| %>
          <tr>
            <% @parts.each do |part| %>
              <tr>
                <td><%= part.number %></td>
                <td><%= part.name %></td>
                <td>
                  <%= part.pics.sum(:qty)%>
                </td>
                <td>
                  <%= part.pics.count.to_f * part.norms %>
                </td>
                <td><%= (part.pics.sum(:qty)) * (part.pics.count.to_f * part.norms)%></td>
                <td><%#= part.pic.qty  + part.pic.wh %></td>
              </tr>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </tr>
</table>
<br>
<p>Table 4
<center><table border="1"  width="600px">
    <tr><b>
        <td  width="80px"><b><center>Part No.</center></td>
        <td width="200px"><center><b>Part Name</td>
        <td><b><center>Qty</td>
        <td><b><center>Norms (HPU)</td>
        <td><b><center>Earned Hour</td>
    </b></tr>
    <tr>
      <tbody>
        <% @parts.each do |part| %>
          <% @pics.each do |pic| %>
            <tr>
              <td><%= pic.part.number %></td>
              <td><%= pic.part.name %></td>
              <td><%= pic.qty %></td>
              <td><%= pic.part.norms %></td>
              <td><%= pic.qty  + pic.wh %></td>
            </tr>
          <% end %>

        <% end %>
      </tbody>
    </tr>

</table>

        <%= params.inspect %>
<br>
<script type="text/javascript">
  $( "#start" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>

<script type="text/javascript">
  $( "#end" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>
</body>
</html>
