<!DOCTYPE html>
<html>
<head>
<title>FURNILAC PRIMAGUNA, PT.</title>
<link href="stylesheets/jquery-ui.css.erb" rel="stylesheet" type="text/css">
</head>
<body>
<h3><center><b>LAPORAN PRODUKTIVITAS PRODUKSI </b></center></h3>

  <center>
    <table border="1" width="600px">
      <br>
      <table width="600px">
        <center>
        <tr><left>
          <%= form_tag('/report_people.pdf', method: :get) do %>
          <!-- <%= form_tag(report_people_path(format: 'pdf'), method: :get) %> -->
          <%= text_field_tag 'start_date'%>
          <%= text_field_tag 'end_date'%>
          <%= submit_tag 'show', disabled: false %>
          <% end %>
        </left>
        </tr>
        </center>
      </table>
      <br>
    </table>
  </center>
</body>
</html>
<script type="text/javascript">
  $( "#start_date" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>

<script type="text/javascript">
  $( "#end_date" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>
-
