

<!DOCTYPE html>
<html>
<head>
<title>Contoh Penggunaan Atribut Colspan dan Rowspan Tag Tabel</title>
<link href="stylesheets/jquery-ui.css.erb" rel="stylesheet" type="text/css">
</head>
<body>
<h3><center><b>LAPORAN PRODUKTIVITAS PRODUKSI PERSON </b></center></h3>
<center>
  <table width="600px">
    <tr><left>
      <!-- <%= form_tag('/report_person', method: :get) do %> -->
      <%= form_tag(report_person_path(format: 'pdf'), method: :get) %>
      <%= text_field_tag 'start_date'%>
      <%= text_field_tag 'end_date'%>
      <%= select_tag 'area_combo', options_for_select(Area.all.map{|e| [e.name, e.id]}) %>
      <%= submit_tag 'Show' %>
      <% end %>
    </center>
  </left>
    </tr>
    <tr>
      <td>Periode :</td>
      <td>Karu :</td>
      <td>Area : <%#= @areas.employee.name %>

      </td>
    </tr>
    <tr>
      <td>EH :</td>
      <td>WH : <%#= @pics.sum(:wh) %></td>
    </tr>
</table>
<br>
<!-- <p>Show With Range Date -->
<br><br><br>
<script type="text/javascript">
  $( "#start_date" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>

<script type="text/javascript">
  $( "#end_date" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>
</body>
</html>
