

<!DOCTYPE html>
<html>
<head>
<title>Contoh Penggunaan Atribut Colspan dan Rowspan Tag Tabel</title>
<link href="stylesheets/jquery-ui.css.erb" rel="stylesheet" type="text/css">
</head>
<body>
<h3><center><b>LAPORAN PRODUKTIVITAS PRODUKSI PERSON </b></center></h3>
<center>
  <table width="600px">
    <tr>
      <td>Periode : <%= params[:start_date] %> s/d <%= params[:end_date] %></td>
      <td>Karu : <%= @area.employee.name %></td>
      <td><b>Area :
        <%= @area.name %>
        </b>
      </td>
    </tr>
    <tr>
      <td>EH :
        <% total_eh = 0 %>
        <% @data_report_person.each do |pic| %>
          <% total_eh += (pic.total_qty  * pic.part.norms) %>
        <% end %>
        <%=  total_eh.to_s(:rounded) %>
      </td>
      <td>WH :
        <% total_wh = 0 %>
        <% @data_report_person.each do |pic| %>
          <% total_wh += pic.wh %>
          <% end %>
        <%=  total_wh %>
      </td>
    </tr>
</table>
<br>
<!-- <p>Show With Range Date -->
<center><table border="1"  width="600px">
    <tr><b>
        <td  width="80px"><b><center>Part No.</center></td>
        <td width="200px"><center><b>Part Name</td>
        <td><b><center>Qty</td>
        <td><b><center>Norms (HPU)</td>
        <td><b><center>Earned Hour</td>
    </b></tr>
    <tr>
      <tbody>
      <% @data_report_person.each do |pic| %>
        <tr>
          <td><%= pic.part.number %></td>
          <td><%= pic.part.name %></td>
          <td><%= pic.total_qty %></td>
          <td><%= pic.part.norms %></td>
          <td><%= (pic.total_qty  * pic.part.norms).to_s(:rounded) %></td>
        </tr>
      <% end %>
      </tbody>
    </tr>

</table>
<br><br><br>
<script type="text/javascript">
  $( "#start" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>

<script type="text/javascript">
  $( "#end" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>
</body>
</html>
