<!DOCTYPE html>
<html>
<head>
<title>TEST</title>
<link href="stylesheets/jquery-ui.css.erb" rel="stylesheet" type="text/css">
</head>
<body>
<h3><center><b>TEST</b></center></h3>

  <center>
    <table border="1" width="600px">
      <br>
      <table width="600px">
        <center>
        <tr><left>
          <%= form_tag('/test', method: :get) do %>
          <%= text_field_tag 'start_date'%>
          <%= text_field_tag 'end_date'%>
          <%= select_tag 'area_combo', options_for_select(Area.all.map{|e| [e.name, e.id]}) %>
          <%= submit_tag 'Show' %>
          <% end %>
        </left>
        </tr>
        <tr>
          <td>Periode : <%#= @pics.sum(:wh) %></td>
        </tr>
        </center>
      </table>
    </table>
    <center><table border="1"  width="600px">
        <tr>
          <th>Part No.</th>
          <th>Part Name</th>
          <th>Qty</th>
          <th>Norms</th>
          <th>Earned Hour</th>
        </tr>
        <tr>
          <tbody>
          <% @testa.each do |pic| %>
            <tr>
              <td><%= pic.part.number %></td>
              <td><%= pic.part.name %></td>
              <td><%= pic.total_qty %></td>
              <td><%= pic.part.norms %></td>
              <td><%= (pic.total_qty  * pic.part.norms).to_s(:rounded) %></td>
            </tr>
          <% end %>
          </tbody>
        </tr>

    </table>
<br><br>
</html>
<script type="text/javascript">
  $( "#start_date" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>

<script type="text/javascript">
  $( "#end_date" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>
-
